<template>
  <div>
    <div class="col-10 mx-auto">
      <draggable :options="options">
        <div class="item" v-for="item in items" :key="item.id">{{item.name}}</div>
      </draggable>
      <vue-good-table :year="year" :tabeles="tabeles"
                      :sort-options="{enabled: false,}">
      </vue-good-table>
      <br>
      <b-button class="m-5">
        <font-awesome-icon icon="print"/> 印刷
      </b-button>
      <b-button class="m-5">
        <font-awesome-icon icon="dumpster"/>箱
      </b-button>
      <b-button class="m-5">
        <font-awesome-icon icon="save"/> 保存
      </b-button>
      <b-button class="m-5">
        <font-awesome-icon icon="arrow-alt-circle-left"/> 終了
      </b-button>
    </div>
  </div>
</template>

<script>
import draggable from 'vuedraggable';

export default {
  name: 'dnd',
  components: { draggable },
  data() {
    return {
      options: {
        animation: 80,
      },
      items: [
        { id: 1, name: 'NW' },
        { id: 2, name: '国語表現' },
        { id: 3, name: 'ビジネスマナー' },
        { id: 4, name: 'PHP' },
        { id: 5, name: 'ゼミ' },
        { id: 6, name: 'CD' },
        { id: 7, name: 'PBL' },
      ],
      year: [
        {
          label: '時間割',
          field: 'time',
          width: '50px',
          tdClass: 'text-center',
        },
        {
          label: '月曜日',
          field: 'monday',
          width: '100px',
          tdClass: 'text-center',
        },
        {
          label: '火曜日',
          field: 'tuesday',
          width: '100px',
          tdClass: 'text-center',
        },
        {
          label: '水曜日',
          field: 'wednesday',
          width: '100px',
          tdClass: 'text-center',
        },
        {
          label: '木曜日',
          field: 'thursday',
          width: '100px',
          tdClass: 'text-center',
        },
        {
          label: '金曜日',
          field: 'friday',
          width: '100px',
          tdClass: 'text-center',
        },
      ],
      tabeles: [
        { id: 0, subject: '' },
        { id: 1, subject: '' },
        { id: 2, subject: '' },
        { id: 3, subject: '' },
        { id: 4, subject: '' },
        { id: 5, subject: '' },
        { id: 6, subject: '' },
        { id: 7, subject: '' },
        { id: 8, subject: '' },
        { id: 9, subject: '' },
        { id: 10, subject: '' },
        { id: 11, subject: '' },
        { id: 12, subject: '' },
        { id: 13, subject: '' },
        { id: 14, subject: '' },
        { id: 15, subject: '' },
        { id: 16, subject: '' },
        { id: 17, subject: '' },
        { id: 18, subject: '' },
        { id: 19, subject: '' },
        { id: 20, subject: '' },
        { id: 21, subject: '' },
        { id: 22, subject: '' },
        { id: 23, subject: '' },
        { id: 24, subject: '' },
        { id: 25, subject: '' },
        { id: 26, subject: '' },
        { id: 27, subject: '' },
        { id: 28, subject: '' },
        { id: 29, subject: '' },
      ],

      mounted() {
        const subjectId = this.items.id;
        this.tabeles = subjectId;
      },
    };
  },
};
</script>

<style scoped>
  .item {
    display: inline-block;
    margin: 10px;
    padding: 10px;
    border: 1px solid #7f7f7f;
    border-radius: 10px;
    background-color: #ffffff;
  }
  .item:hover {
    cursor: grab;
  }
  .item:active {
    cursor: grabbing;
  }
</style>
